# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [255]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [256]:
# Read in previously created Data Frame from WeatherPy
cities_df = pd.read_csv('../WeatherPy/output_data/cities.csv')
cities_df.head()

,cityid,city,country,date,Lat,Lng,max_temp,humidity,wind_speed,clouds
0,0,chaah,MY,1603936972,2.25,103.05,86.27,64,4.05,86
1,1,ushuaia,AR,1603936509,-54.80,-68.30,41.00,93,20.80,90
2,2,arraial do cabo,BR,1603936514,-22.97,-42.03,74.98,94,8.68,3
3,3,smithers,CA,1603936973,54.78,-127.17,33.80,100,4.70,90
4,4,yilan,TW,1603936973,24.76,121.75,79.00,99,5.35,100

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [257]:
# Store latitude and longitude in locations variable
lat_lng = cities_df[['Lat', 'Lng']]

# Make variable for humidity
humidity = cities_df["humidity"]

In [258]:
# Import gmaps figure
fig = gmaps.figure()

# Create heatlayer and add parameters for humidity for cities in the cities.csv
heat_layer = gmaps.heatmap_layer(lat_lng, weights=humidity, 
                                 dissipating=False, 
                                 point_radius = 3)

# Add the heatlayer to the gmaps figure
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [259]:
# Create DataFrame for ideal vacation, I want to be warm.
ideal_cities = cities_df.loc[(cities_df["max_temp"] <= 80) & (cities_df["max_temp"] >= 78.5) & \
                                   (cities_df["clouds"] == 0) & (cities_df["wind_speed"] <= 16.09)].dropna()

# Displayed DataFrame
ideal_cities

,cityid,city,country,date,Lat,Lng,max_temp,humidity,wind_speed,clouds
528,528,gold coast,AU,1603937157,-28.00,153.43,79.00,60,12.75,0
539,539,tezu,IN,1603937161,27.92,96.17,78.64,43,0.83,0

In [260]:
ideal_cities.count()

cityid        2
city          2
country       2
date          2
Lat           2
Lng           2
max_temp      2
humidity      2
wind_speed    2
clouds        2
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [261]:
# Create new DataFrame to use for adding in Hotel Names Later
hotel_df = ideal_cities.loc[:,["city","country", "Lat", "Lng"]]

#Add in Hotel Name column
hotel_df["Hotel Name"] = ""

#Display DataFrame
hotel_df

           city country    Lat     Lng Hotel Name
528  gold coast      AU -28.00  153.43
539        tezu      IN  27.92   96.17

In [262]:
# Copy in base_url for google maps api
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Set up hotel search parameters
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [263]:
# Set up API call to get city name, latitute, longitude from hotel DataFrame
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["city"]
    
    # Add keywords from Gmaps API call to params dictionary
    params["location"] = f"{lat},{lng}"

    # Create url to make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # Pull out the results from the request
    results = response['results']
    
    # Save the Hotel Names that fit search parameters to Dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # However, if there are no hotels available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Have the function wait 1 second before making another API request to avoid an SSL Error
    time.sleep(1)

# Print statement once search has finished
print("-------End of Search-------")

Retrieving Results for Index 528: gold coast.
Closest hotel in gold coast is Palazzo Versace Gold Coast.
------------
Retrieving Results for Index 539: tezu.
Closest hotel in tezu is Capital O 66991 Hotel Highway.
------------
-------End of Search-------

In [264]:
# Display Hotel DataFrame
hotel_df

           city country    Lat     Lng                     Hotel Name
528  gold coast      AU -28.00  153.43     Palazzo Versace Gold Coast
539        tezu      IN  27.92   96.17  Capital O 66991 Hotel Highway

In [265]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [266]:
# Create markers for hotel locations
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))